/* Enter your custom styles here */
.sapMNCLargeFontSize {
    color: aqua;
}
#container-cowin---idMain--icon1-icon-image {
    background-color: steelblue;
    border-radius: 50%;
}
#container-cowin---idMain--icon2-icon-image {
    background-color: skyblue;
    border-radius: 50%;
}
#container-cowin---idMain--icon3-icon-image {
    background-color: paleturquoise;
    border-radius: 50%;
}
#container-cowin---idMain--icon4-icon-image {
    background-color: chocolate;
    border-radius: 50%;
}
#container-cowin---idMain--icon5-icon-image {
    background-color: lightpink;
    border-radius: 50%;
}
#container-cowin---idMain--icon6-icon-image {
    background-color: limegreen;
    border-radius: 50%;
}



html.sap-phone *, html.sap-tablet:not(.sap-desktop) * {
    -webkit-user-select: none;
    -moz-user-select: none;
    
    flex-wrap: wrap;
    place-content: center;
}


/* .sapMTB-Transparent-CTX>.sapMTitleTB.sapMTitleStyleAuto {
    font-size: 1.125rem;
    margin-bottom: -3rem;
} */


/* #idButton{
    margin-left: -3rem;
} */


/* #container-cowin---idView2--idText-inner{
    margin-top: 0rem;
    margin-left: 3px;

}

.sapMTitle{
    margin-top: -3rem;
}

 #__data24{
    margin-left: 6rem;
} */


/* /* 
#container-cowin---idView2--dashState{
    width: 155px;
    margin-left: 5rem;
    margin-top: 0;
}

#container-cowin---idView2--dashCity{
    width: 155px;
    margin-left: 3rem;
} */

/* #__text6{
    margin-left:3rem;

}

#__text4{
margin-left:5rem
}

#__toolbar4{
    margin-left: -7rem;
}  */


#container-cowin---idView2--idButton{
    margin-left: -3rem;
}


#__chart1-bar-positive-1{
    background-color: burlywood;
}

/* #__title5{
    margin-top: -50px;
}

#__title0{
    margin-top: -39px;
} */


